*{
    font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: normal;
    }
@media screen and (max-width: 600px) {
.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "b"
        "w"
        "e"
        "s"
        "t";
}
}
.wrapper{
    display: grid;
    grid-gap: 3px;
    grid-template-columns:6, 1fr;
    grid-template-rows:22% auto auto auto auto;
    grid-template-areas:
    "b"
    "w"
    "e"
    "s"
    "t";
    }

    .box{
        grid-area: b;
        padding-top:0px;
        margin-bottom:-30px;
        padding-right:30px;
        padding-left: 0px;
    }
    .work{
        padding-top: 10px;
        grid-area: w;
        font-style:bold;
    }
    .education{
        grid-area: e;
    }
    .title{
        grid-area: t;
        padding-left:2%;
        margin-top:0px;
        font-size:38px;

    }
    h2{
        font-family:acumin-pro, sans-serif;
        font-size: 23px;
    }
    h1{
        font-size:120px;
        text-align: right;
        color: #293530;
        margin-right: 400px;
        margin-top: -320px;
        font-family: acumin-pro, sans-serif;
    }
    h3{
        font-size: 60px;
        margin-left: 190px;
        font-family:acumin-pro, sans-serif;
        font-weight:lighter;
        text-align: center;
        display: inline;
    }
    a {
        color: black;
        text-decoration: none;
      }
    hr{
      height:3px;
    }
    h4{
        font-style: italic;
    }
    .box{
        background-color: #eae5e5;
    }
    .skills{
        grid-area: s;
    }
    .title{
        font-size: 27px
    }
    img{
        width: 450px;
        margin-top: -110px;
        margin-bottom: -70px
    }
    body,h1 {
        font-family: "Acumin-pro", sans-serif;
        font-size: 90px;
    }
 